@model CouponDTO

@{
    ViewData["Title"] = "DeleteLmao";
}

<div>
    <form asp-action="DeleteCoupon">
        <input asp-for="Id" hidden />
        <div class="container border p-3">
            <hr />
            <div class="row">



                <div class="col-2">
                    <label asp-for="Name" class="control-label pt-2" style="font-size:20px"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="Name" disabled class="form-control" />
                </div>



                <div class="col-2">
                    <label asp-for="Percent" class="control-label pt-2" style="font-size:20px"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="Percent" disabled class="form-control" />
                </div>



                <div class="col-2">
                    <label asp-for="IsActive" class="control-label pt-2" style="font-size:20px"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="IsActive" disabled class="form-control" />
                </div>



                <div class="col-2">
                    <label asp-for="Created" class="control-label pt-2" style="font-size:20px"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="Created" disabled class="form-control rows="5" />
                </div>





                <div class="col-5">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="CouponIndex">Back To List</a>
                </div>



            </div>
        </div>
    </form>
</div>